<div class="outer-wrapper">
  <div class="header">
    <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%;">
      <div style="">
        <% if user_signed_in? %>
          <span><%= current_user.email.split('@').first %></span>
          |
          <span>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </span>
        <% else %>
          <span>
            <%= link_to('Login', new_user_session_path) %>
          </span>
          <span class="sign-up">
            <%= link_to  "Sign Up", new_user_registration_path %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <img alt="logo cool" style="width: 100%; box-shadow: 0 8px 6px -6px #b9b9b9;" src="https://beatoftheday.s3-us-west-1.amazonaws.com/beatofthedaylogo.jpg" />
  <%= yield %>
</div>

