<div class="outer-wrapper">
  <div class="header">
    <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%;">
      <div style="">
        <% if user_signed_in? %>
          <span><a href="/artist/<%= current_user.artist_name %>"><%= current_user.email.split('@').first %></a></span>
          |
          <span>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </span>
        <% else %>
          <span>
            <%= link_to('Login', new_user_session_path) %>
          </span>
          <span class="sign-up">
            <%= link_to  "Sign Up", new_user_registration_path %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="banner-wrapper">
    <img class="logo-cool" src="https://beatoftheday.s3-us-west-1.amazonaws.com/beatofthedaylogo.jpg" />
  </div>
  <%= yield %>
</div>

