<!DOCTYPE html>
<html>
  <head>
    <title>Beat of the day</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>window._current_user = JSON.parse('<%= current_user.present? && current_user.slice(:id).to_json %>'.replace(/\&quot\;/g, '"'))</script>
    <%= yield %>
  </body>
</html>
