<!DOCTYPE html>
<html>
  <head>
    <title>Beat of the day</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <meta name=viewport content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- For Google -->
    <meta name="description" content="A community of people to play music with" />
    <meta name="keywords" content="music community guitar drums piano bass ableton logic" />

    <meta name="author" content="Beat of the day" />
    <meta name="copyright" content="Beat of the day" />
    <meta name="application-name" content="Beat of the day" />

    <!-- For Facebook -->
    <meta property="og:title" content="Beat of the day" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://beatoftheday.s3-us-west-1.amazonaws.com/beatofthedaylogo.jpg" />
    <meta property="og:url" content="https://www.beatoftheday.org/" />
    <meta property="og:description" content="A community of people to play music with" />

    <!-- For Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Beat of the day" />
    <meta name="twitter:description" content="A community of people to play music with" />
    <meta name="twitter:image" content="https://beatoftheday.s3-us-west-1.amazonaws.com/beatofthedaylogo.jpg" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>window._current_user = JSON.parse('<%= current_user.present? && current_user.slice(:id).to_json %>'.replace(/\&quot\;/g, '"'))</script>
    <%= yield %>
  </body>
</html>
